<form action = "http://zhjwxkyw.cic.tsinghua.edu.cn/xkBks.vxkBksXkbBs.do" method = "POST">
	<input type = "hidden" name = "m" value = "saveRxKc">
	<input type = "hidden" name = "page" value = "">
	<input type = "text" name = "token" value = "{{token}}">
	<input type = "hidden" name = "p_sort.p1" value = "">
	<input type = "hidden" name = "p_sort.p2" value = "">
	<input type = "hidden" name = "p_sort.asc1" value = "true">
	<input type = "hidden" name = "p_sort.asc2" value = "true">
	<input type = "hidden" name = "p_xnxq" value = "2016-2017-2">
	<input type = "hidden" name = "is_zyrxk" value = "">
	<input type = "hidden" name = "tokenPriFlag" value = "rx">
	<input type = "hidden" name = "p_kch" value = "40240422">
	<input type = "hidden" name = "p_kcm" value = "">
	<input type = "hidden" name = "p_kkdwnm" value = "">
	<input type = "hidden" name = "p_kctsm" value = "">
	<input type = "hidden" name = "p_rxklxm" value = "">
	<input type = "hidden" name = "p_rx_id" value = "2016-2017-2;40240422;0;">
	<input type = "hidden" name = "goPageNumber" value = "1">
	<input type = "submit" value = "submit">
</form>